*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
body{
    background-color: #00bfff;
}
h1{
    color: black;
    background-color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 2%;
}
.wholeData{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.user{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 90vh;
}

.user div{
    width: 96%;
    border: 2%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.userSelcet{
    width: 15%;
    height: 90vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.userSelcet div{
    width: 96%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.score{
    color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:aliceblue;
    width: 25%;
    height: 50vh;
    padding: 2%;
    text-align: center;
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}
.part{
    width: 90%;
    margin: auto;
    display: flex;
    height: 20vh;
    text-align: center;
}
.subPart{
    width: 50%;
    text-align: center;
    background-color: aliceblue;
    color: #202020;
    margin: auto;
}
.subPart:nth-child(1){
    color: #00ff73;
}
.subPart:nth-child(2){
    color: #ffee00;
}
h2{
    text-transform:uppercase;
    text-align: center;
}
.compSelect{
    width: 15%;
    height: 90vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.compSelect div{
    width: 96%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.comp{
    width: 15%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 90vh;
}

.comp div{
    width: 96%;
    border: 2%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
img{
    width:150px;
    height: 150px;
    transform: rotate(90deg);
    object-fit: cover;
    border: 10px solid white;
    border-radius: 50%;
}
.user div:hover{
    border-radius: 50%;
    background-color: #00ff73;
}
button{
    width: 90%;
    margin: 5%;
    background-color: #00bfff;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 2%;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
}